{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{ title }} Page
{% endblock %}

{% block body %}
    <form style="padding-left: 20px;" method="POST" action="{% url 'edit' %}">
        <div class="form-group">
            <label for="title"><h4>Title: {{ title }}</h4></label>
            <input type="hidden" name="title" value="{{ title }}">
        </div>
        <div class="form-group">
            <label for="entry"><h4>Entry:</h4></label>
            <textarea style="width:75%;" name="entry" id="entry" class="form-control" name="entry" cols="20" rows="15">{{ entry }}</textarea>
        </div>
        <div class="form-group">
            <input class="btn btn-outline-dark" type="submit" value="Save Changes">
        </div>
    </form>
{% endblock %}